<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <arg name="robot_name" default = "a"/>
    <arg name="initial_pose_x" value="4.0"/>
    <arg name="initial_pose_y" value="-7.0"/>
    <arg name="initial_pose_a" value="0.0"/>

    <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0" />

    <arg name="my_ns" default = "a"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="
        -param init_pose
        -urdf 
        -param /robot_description 
        -model rosbot" />
</launch>
