<?xml version="1.0"?>
<launch>

  <include file="$(find hemuro_sim)/launch/teste/rosbot.launch"></include>

  <arg name="robot_model" default="$(find p3dx_description)/urdf/pioneer3dx.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)'" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="" required="true" output="screen"/>

</launch>
