<?xml version="1.0"?>
<launch>
    <!-- BEGIN ROBOT Thor -->
    <group ns="thor">
        <arg name="my_ns" value="thor" />
        <arg name="robot_name" value="$(arg my_ns)" />
        <param name="tf_prefix" value="$(arg my_ns)_tf" />
        <arg name="initial_pose_x" value="4.0"/>
        <arg name="initial_pose_y" value="7.0"/>
        <arg name="initial_pose_a" value="0.0"/>

        <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0" />

        <include file="$(find hemuro_sim)/launch/rosbot.launch" >
        <arg name="init_pose" value="$(arg init_pose)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="my_ns" value="$(arg my_ns)" />
        </include>
        
        <include file="$(find hemuro_sim)/launch/move_base_rosbot2.launch">
        <arg name="my_ns" value="$(arg my_ns)" />
        <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include>
    </group> -->

    <!-- BEGIN ROBOT Zeus -->
    <group ns="zeus">
        <arg name="my_ns" value="zeus" />
        <arg name="robot_name" value="$(arg my_ns)" />
        <param name="tf_prefix" value="$(arg my_ns)_tf" />
        <arg name="initial_pose_x" value="-4.0"/>
        <arg name="initial_pose_y" value="7.0"/>
        <arg name="initial_pose_a" value="0.0"/>

        <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0" />

        <include file="$(find hemuro_sim)/launch/rosbot.launch" >
        <arg name="init_pose" value="$(arg init_pose)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="my_ns" value="$(arg my_ns)" />
        </include>
        
        <include file="$(find hemuro_sim)/launch/move_base_rosbot2.launch">
        <arg name="my_ns" value="$(arg my_ns)" />
        <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include>
    </group> -->

    <!-- BEGIN ROBOT Afrodite -->
    
    <group ns="afrodite">
        <arg name="my_ns" value="afrodite" />
        <arg name="robot_name" value="afrodite" />
        <param name="tf_prefix" value="$(arg my_ns)_tf" />
        <arg name="initial_pose_x" value="-2.0"/>
        <arg name="initial_pose_y" value="7.0"/>
        <arg name="initial_pose_a" value="0.0"/>
        

        <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0" />
        
        <include file="$(find hemuro_sim)/launch/p3dx.launch">
            <arg name="init_pose" value="$(arg init_pose)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>
        
        <include file="$(find hemuro_sim)/launch/move_base_p3dx2.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include>
    </group> -->
    
    <!-- BEGIN ROBOT  -->
    
    <group ns="athena">
        <arg name="my_ns" value="athena" />
        <arg name="robot_name" value="athena" />
        <param name="tf_prefix" value="$(arg my_ns)_tf" />
        <arg name="initial_pose_x" value="2.0"/>
        <arg name="initial_pose_y" value="7.0"/>
        <arg name="initial_pose_a" value="0.0"/>
        

        <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0" />
        
        <include file="$(find hemuro_sim)/launch/p3dx.launch">
            <arg name="init_pose" value="$(arg init_pose)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>
        
        <include file="$(find hemuro_sim)/launch/move_base_p3dx2.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include>
    </group> -->

</launch>
